langchain
langchain-community
langchain-anthropic
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
python-dotenv
funix
ipywidgets
streamlit
anthropic
pandas
langchain-core
